<ion-view view-title="Edit Account">
 <ion-nav-bar class="bar bar-header bar-dark uppercase lightfont">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>

  <div class="card space">

    <div class="list list-inset">

      <h3 class="title" align="center"><i class="icon ion-edit"></i>&nbsp;&nbsp;EDIT ACCOUNT INFORMATION</h3>

    <!-- password -->
    <div class="row" ng-hide="editForm === 2">
        <label class = "item item-input uppercase col">

          Password: </label>

        <div class="col">
        </div>


              <button class="button button-small button-edit uppercase" ng-click="showEditForm(2)"><i class="icon ion-edit"></i>&nbsp; <EM></EM>Edit</button>
    
      
    </div>

    <div ng-show="editForm === 2">
         <label class = "col">Password: </label>
        <form name="passwordForm" ng-submit="changePassword(password)" novalidate>

             <div class="alert alert-dismissable alert-danger" ng-show="errorMessage">
              <button type="button" class="close" ng-click="showErrorMessage(false)">×</button>
              <strong>Incorrect Current Password</strong>
             </div>

             <br>

            <div class="row col-50">
                <label align="right"  class = "col">Current:</label> 

                 <div class="col">
                    <input class="form-control"  type="password" ng-model="password.old_password" required> 
                </div>
            </div>

            <div class="row col-50">
                <label align="right" class = "col">New:</label>
                <div  class="col">
                    <input class="form-control"  type="password" ng-model="password.new_password" required>
                </div>
                 
             </div>

            <div class="row col-50">
                <label align="right" class = "col">Retype New:</label> 

                <div  class="col">
                <input class="form-control"  type="password" ng-model="password.confNew_password" required>

                <br><br>

            <button class="button button-small button-clear uppercase" type="submit" ng-disabled="passwordForm.$invalid || password.new_password !== password.confNew_password"><i class="icon ion-checkmark"></i>&nbsp; Change Password</button>

            <button class="button button-small button-clear uppercase" type="button" ng-click="showEditForm(0)"><i class="icon ion-close"></i>&nbsp; Cancel</button>

            </div>

             </div>

        </form>
    </div>
      </div>
    </div>

</div>



  </ion-content>
</ion-view>
