<ion-view view-title="Edit Account">
  <ion-content>
        <div class="card">

          <div class="bar bar-header bar-royal">
            <h1 class="title"><i class="icon ion-edit"></i>&nbsp;&nbsp;Edit Account Information</h1>

          </div><br><br><br>

      <!-- username --><br><br><br>
      <div class="itemedit item-text-wrap">

        <div class="list row" ng-hide="editForm === 1">
        <label class = "col col-20">Username:</label
            > 
        <div class="col col-60">
            {{user.username}}
         </div>
       
            <button class="button button-small button-edit" ng-click="showEditForm(1)"><i class="icon ion-edit"></i>&nbsp; Edit</button>
      
        </div>

        <div class="list row" ng-show="editForm === 1">
       <label class = "col col-20"> Username:</label> 

        <div class="col col-60">
            <input class="form-control" type="text" ng-model="userEdit.username" value="{{user.username}}">
        </div>

        <button class="button button-small button-clear" ng-click="editUser(userEdit)"><i class="icon ion-checkmark"></i>&nbsp; Save</button>&nbsp;
        <button class="button button-small button-clear" ng-click="showEditForm(0)"><i class="icon ion-close"></i>&nbsp; Cancel</button>
    </div>
    
    <!-- first name -->
    <div class=" list row" ng-hide="editForm === 3">
        <label class = "col col-20">First Name:</label> 

         <div class="col col-60">
            {{user.firstname}}
        </div>

        <button class="button button-small button-edit" ng-click="showEditForm(3)"><i class="icon ion-edit"></i>&nbsp; Edit</button>
    </div>

    <div class="list row" ng-show="editForm === 3">
        <label class = "col col-20">First Name: </label>

         <div class="col col-60">
            <input class="form-control" type="text"  ng-model="userEdit.firstname" value="{{user.firstname}}">
        </div>

        <button class="button button-small button-clear" ng-click="editFirstname(userEdit)"><i class="icon ion-checkmark"></i>&nbsp; Save</button>&nbsp;
        <button class="button button-small button-clear" ng-click="showEditForm(0)"><i class="icon ion-close"></i>&nbsp; Cancel</button>
    </div>

    <!-- last name -->
    <div class=" list row" ng-hide="editForm === 4">
        <label class = "col col-20"> Last Name:</label> 

         <div class="col col-60">
            {{user.lastname}}
        </div>

        <button class="button button-small button-edit" ng-click="showEditForm(4)"><i class="icon ion-edit"></i>&nbsp; Edit</button>
    </div>

    <div class=" list row" ng-show="editForm === 4">
        <label class = "col col-20">Last Name: </label>

         <div class="col col-60">
            <input  class="form-control" type="text" ng-model="userEdit.lastname" value="{{user.lastname}}">
        </div>

        <button class="button button-small button-clear" ng-click="editLastname(userEdit)"><i class="icon ion-checkmark"></i>&nbsp; Save</button>&nbsp;
        <button class="button button-small button-clear" ng-click="showEditForm(0)"><i class="icon ion-close"></i>&nbsp; Cancel</button>
    </div>

    <!-- password -->
    <div class="row" ng-hide="editForm === 2">
        <label class = "col col-20">Password: </label>

        <div class="col col-1 col-offset-69">
        </div>


              <button class="button button-small button-edit" ng-click="showEditForm(2)"><i class="icon ion-edit"></i>&nbsp; <EM></EM>Edit</button>
    
      
    </div>

    <div ng-show="editForm === 2">
         <label class = "col col-20">Password: </label>
        <form name="passwordForm" ng-submit="changePassword(password)" novalidate>

             <div class="alert alert-dismissable alert-danger" ng-show="errorMessage">
              <button type="button" class="close" ng-click="showErrorMessage(false)">×</button>
              <strong>Incorrect Current Password</strong>
             </div>

             <br>

            <div class="row">
                <label align="right"  class = "col col-20">Current:</label> 

                 <div class="col col-50">
                    <input class="form-control"  type="password" ng-model="password.old_password" required> 
                </div>
            </div>

            <div class="row">
                <label align="right" class = "col col-20">New:</label>
                <div  class="col col-50">
                    <input class="form-control"  type="password" ng-model="password.new_password" required>
                </div>
                 
             </div>

            <div class="row">
                <label align="right" class = "col col-20 col-">Retype New:</label> 

                <div  class="col col-50">
                <input class="form-control"  type="password" ng-model="password.confNew_password" required>
            </div>
            </div>

            <div align="center"> 
                 
            <button class="button button-small button-clear" type="submit" ng-disabled="passwordForm.$invalid || password.new_password !== password.confNew_password">Change Password</button>

            <button class="button button-small button-clear" type="button" ng-click="showEditForm(0)"><i class="icon ion-close"></i>&nbsp; Cancel</button>
            </div>

        </form>
    </div>
      </div>
    </div>

  </ion-content>
</ion-view>
