<ion-view view-title="Empties">
  <ion-content>
    <div class="list">

     <div class="item" ng-repeat="loadOut in loadOuts">

       <div class="row">
         <label class="col col-60 labelz" align="center">
             <h2>Load Out #{{loadOut.loadout_number}}</h2>
          </label>
     </div>
            <div class="col col-40" align="center">
              <a class="button icon-left ion-search" href="#/app/empties/{{loadOut.id}}">
              VIEW
              </a>
               </div>
        </div>
      </div>
  </ion-content>
</ion-view>
