<ion-view view-title="Empties Deliveries">
    <ion-nav-bar class="bar bar-header bar-dark uppercase lightfont">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>
     <div class="list" ng-repeat="delivery in deliveries"><!---->

     <div class="item item-divider">
         <label class="labelz uppercase" align="center">
             <h2 class="title">{{delivery.customer_id.establishment_name}}</h2>
          </label>
          <div align="center">
              <a class="button button-large button-flat icon-left ion-search" ng-hide="delivery.returns_id !== null" href="#/app/empties/view/{{delivery.id}}">
              VIEW
              </a>
               </div>

        </div>
      </div>
  </ion-content>
</ion-view>
