<ion-view view-title="Empties">
  <ion-content>
    <div class="list">

     <div class="item" ng-repeat="loadOut in loadOuts">

       <div class="row">
         <label class="col col-60">
             Load Out #{{loadOut.loadout_number}}
          </label>
     </div>
            <div class="col col-40">
              <a class="button calm pull-right button-outline button-calm" href="#/app/empties/{{loadOut.id}}">
              VIEW
              </a>
               </div>
        </div>
      </div>
  </ion-content>
</ion-view>
