<ion-view view-title="Empties Deliveries">
  <ion-content>
     <div class="list" ng-repeat = "delivery in deliveries">

     <div class="item item-divider">
         <label class="col col-60 labelz" align="center">
             <h2>{{delivery.customer_id.establishment_name}}</h2>
          </label>
          <div class="col col-40" align="center">
              <a class="button icon-left ion-search" ng-hide="delivery.returns_id !== null" href="#/app/empties/view/{{delivery.id}}">
              VIEW
              </a>
               </div>

        </div>
      </div>
  </ion-content>
</ion-view>
