
<ion-view view-title="Empties View">
 <ion-nav-bar class="bar bar-header lightbg darkfont">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>

     <div class="card">

       <div ng-show="deliveries.length !== 0">
        <form name="ReturnViewForm" ng-submit="addReturns(returns)" novalidate>

          <label class="item item-input">SKU Name: {{delivery.sku_id.prod_id.brand_name}} {{delivery.sku_id.sku_name}} {{delivery.sku_id.size}}
          </label>

          <div class="input-label">
             <select  class="form-control" ng-model="returns.sku" ng-options="sku as combined(sku) for sku in deliveries">
             </select>
          </div>
          

          <label class="item item-input">Bottles:</label>

            <div class="input-label">
             <input class="form-control" type="number" ng-model="returns.bottles" required>
            </div>
          <label class="item item-input">Cases:</label>

            <div class="input-label">
             <input class="form-control" type="number" ng-model="returns.cases" required>
            </div>
        

          <label class="item item-input">Deposit:</label>

            <div class="input-label">
             <input class="form-control" type="number" ng-model="returns.deposit" required>
            </div>



          <div class="col col-40" align="center">
              <button type="submit" ng-disabled="ReturnViewForm.$invalid" class="button icon-left ion-checkmark">
              ADD
              </button>
          </div>

        </form>
        </div>
    
         
      </div>

        <table class="table">
            <thead>
              <th>Product</th>
              <th>Bottles</th>
              <th>Cases</th>
              <th>Deposit</th>
              <th></th>
            </thead>
            <tbody>
              <tr ng-repeat="returns in returnsList">
                <td>{{returns.sku_name}}</td>
                <td>{{returns.bottles}}</td>
                <td>{{returns.cases}}</td>
                <td>{{returns.deposit}}</td>
                <td><button ng-click="deleteReturns($index,returns)">Delete</button></td>
              </tr>
            </tbody>
          </table>

          <div <div ng-hide="deliveries.length !== 0">
            <button ng-click="submit()">SUBMIT</button>
          </div>

  </ion-content>
</ion-view>
