<ion-view view-title="Load In View">
 <ion-nav-bar class="bar bar-header bar-dark uppercase lightfont">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content class="darkbg transparent">
      <div class="card">
           <!--<div class="item item-divider">
            <h2>{{delivery.customer_id.establishment_name}}</h2>
            </div>-->
      
          <form name="loadInViewForm" ng-submit="addLoadIn(loadIn)" novalidate>

            <div class="list list-inset">

             <label class="item item-input item-select">

                <div class="col uppercase">Product:</div>

              <div class="input-label col">
                <select class = "form-control" ng-model="loadIn.product" ng-change="getBays(loadIn.product);getProdDate(loadIn.product)" ng-options="loadOut as prodName(loadOut.sku_id) for loadOut in deliveries[0].products" required>
                </select>
              </div>

              </label>
              <br>

              <label class="item item-input item-select">

                <div class="col uppercase">Line:</div>

              <div class="input-label col" ng-hide="noBays">
                <select class = "form-control" ng-model="loadIn.bay" ng-options="bay as bayName(bay) for bay in bays" required>
                </select>
              </div>

              </label>

              <div ng-show="noBays" class="input-label col uppercase">

                No Line Available

              </div>

              &nbsp;

              <label class="item item-input">

                <div class="col uppercase">Returns Cases:</div>

                <div class="input-label col">
                  <input class="form-control" type="number" ng-model="loadIn.returns" required>
                </div>

              </label>

              <label class="item item-input">

                <div class="col uppercase">Production Date:</div>

                <div class="input-label col">
                  <input class ="form-control" type="date" ng-model="loadIn.prodDate" required>
                </div>

              </label>

              <div class="col col-40" align="center">
              <button type="submit" ng-disabled="loadInViewForm.$invalid" class="button button-large button-flat icon-left ion-plus">
              ADD
              </button>
          </div>

          </div>

             </form>  
      </div>

      <div class="card space" align="center">

      <label class="col col-60 labelz" align="center">
       <h3>TOTAL AMOUNT: ₱{{totalAmount}}.00</h3>
       </label>

          <table class="table">
            <thead>
              <th>Product</th>
              <th>Bay</th>
              <th>Returns</th>
              <th>Prod. Date</th>
              <th>Delete</th>
            </thead>
            <tbody>
              <tr ng-repeat="loadIn in loadIns">
                <td>{{loadIn.sku.prod_id.brand_name}} {{loadIn.sku.sku_name}}</td>
                <td>Bay {{loadIn.bay.bay_name}}</td>
                <td>{{loadIn.cases}}</td>
                <td>{{loadIn.prod_date}}</td>
                <td><button ng-click="deleteLoadIn($index,loadIn)" class="button button-small button-flat icon ion-trash-a"></button></td>
              </tr>
            </tbody>
          </table>

          &nbsp;
          &nbsp;

         <div ng-show="loadIns.length !== 0" class="col col-40" align="center">
              <button ng-click="confirm()" ng-disabled="loadIns.lenght === 0" class="button button-large button-flat icon-left ion-checkmark">
                &nbsp;
              CONFIRM
              </button>
           </div> 


         </div>


  </ion-content>
</ion-view>
