<ion-view view-title="Load In Deliveries">
 <ion-nav-bar class="bar bar-header bar-dark uppercase lightfont">
      <ion-nav-back-button>
      </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>

    <div ng-show="hasError" class="errmsg">
      <button type="button" class="button button-small x icon ion-close-round" ng-click="showErrorMessage(false)">×</button>
        <strong>{{errorMessage}}</strong>
    </div>
    
     <div class="list card loadin" ng-repeat="delivery in deliveries"><!-- -->

     <div class="item item-divider">
        <label class="labelz uppercase" align="center">
       <h2 class="title">{{delivery.customer_id.establishment_name}}</h2>
     </label>
          <div align="center">
              <a class="button button-large button-flat icon-left ion-search" href="#app/load-in/view/{{delivery.id}}">
              VIEW
              </a>
              <a class="button button-large button-flat icon-left ion-alert-circled" ng-click="noLoadIn(delivery.id)">
              NO LOAD IN
              </a>
          </div>
     </div>
   </div>
   
  </ion-content>
</ion-view>
