<ion-view view-title="Load In">
  <ion-content>
    <div class="list">

     <div class="item" ng-repeat="loadOut in loadOuts">

       <div class="row">
         <label class="col col-60 labelz" align="center">

             <h2>Load Out #{{loadOut.loadout_number}}</h2>

          </label>
     </div><!--button calm pull-right button-outline -->
            <div class="col col-40" align="center">
              <a class="button icon-left ion-search" href="#/app/load-in/{{loadOut.id}}">
              VIEW
              </a>

              <!--  <button  ng-hide="loadOut.status !== 'Pending'" class="button calm pull-right  button-outline button-calm" ng-click="confirmLoadout(loadOut)" ng-hide="loadOut.status ===confirmed">
                    CONFIRM
               </button>
               </div> -->
        </div>
      </div>
  </ion-content>
</ion-view>
