<ion-view view-title="Load In View">
  <ion-content class="darkbg transparent">
      <div class="card">
           <!--<div class="item item-divider">
            <h2>{{delivery.customer_id.establishment_name}}</h2>
            </div>-->
      
          <form name="loadInViewForm" ng-submit="addLoadIn(loadIn)" novalidate>
            <div class="list list-inset">
             <label class="item item-input">Product:</label>

            <div class="input-label">
                <select class = "form-control" ng-model="loadIn.product" ng-change="getBays(loadIn.product);getProdDate(loadIn.product)" ng-options="loadOut as prodName(loadOut.sku_id) for loadOut in deliveries[0].products" required>
                </select>
            </div>

              <label class="item item-input">Line:</label>

            <div class="input-label" ng-hide="noBays">
                <select class = "form-control" ng-model="loadIn.bay" ng-options="bay as bayName(bay) for bay in bays" required>
                </select>
            </div>

            <div ng-show="noBays" class="col col-40">
                No Line Available
            </div>

            &nbsp;

            <label class="item item-input">Returns:</label>

            <div class="input-label">
             <input class="form-control" type="number" ng-model="loadIn.returns" required>
            </div>
          

          
            <label class="item item-input">Production Date:</label>

            <div class="input-label">
               <input class ="form-control" type="date" ng-model="loadIn.prodDate" required>
            </div>
      
          <div class="col col-40" align="center">
              <button type="submit" ng-disabled="loadInViewForm.$invalid" class="button icon-left ion-plus">
              ADD
              </button>
          </div>

          </div>

             </form>  
      </div>

      <div class="card space" align="center">

      <label class="col col-60 labelz" align="center">
       <h3>TOTAL AMOUNT: ₱{{totalAmount}}.00</h3>
       </label>

          <table class="table">
            <thead>
              <th>Product</th>
              <th>Bay</th>
              <th>Returns</th>
              <th>Prod. Date</th>
              <th></th>
            </thead>
            <tbody>
              <tr ng-repeat="loadIn in loadIns">
                <td>{{loadIn.sku.prod_id.brand_name}} {{loadIn.sku.sku_name}}</td>
                <td>Bay {{loadIn.bay.bay_name}}</td>
                <td>{{loadIn.cases}}</td>
                <td>{{loadIn.prod_date}}</td>
                <td><button ng-click="deleteLoadIn($index,loadIn)">Delete</button></td>
              </tr>
            </tbody>
          </table>

          &nbsp;
          &nbsp;

         <div ng-show="loadIns.length !== 0" class="col col-40" align="center">
              <button ng-click="confirm()" ng-disabled="loadIns.lenght === 0" class="button icon-left ion-checkmark" style="">

              CONFIRM
              </button>
           </div> 


         </div>


  </ion-content>
</ion-view>
