<ion-view view-title="Load In Deliveries">
  <ion-content>
    
     <div class="list" ng-repeat="delivery in deliveries">

     <div class="item item-divider">
        <label class="col col-60 labelz" align="center">
       <h2>{{delivery.customer_id.establishment_name}}</h2>
     </label>
          <div class="col col-40" align="center">
              <a class="button icon-left ion-search" href="#app/load-in/view/{{delivery.id}}">
              VIEW
              </a>
              <a class="button icon-left ion-alert-circled" ng-click="noLoadIn(delivery.id)">
              NO LOAD IN
              </a>
          </div>
     </div>
   </div>
   
  </ion-content>
</ion-view>
