<div class="loginbg responsive-sm responsive-md ">

  <!-- header -->
 <!--  <div class="bar bar-header bar-stable">
    <h1 class="title">LOG IN</h1>
  </div>
 -->
  <div style="margin-top:8%;">
    <img src="img/FMlogo2.png" width="100%;">
  </div>

  <div class="card transparent-i" style="margin-top:-7%;">
  <div class="item item-text-wrap transparent-i">
      <div class="list transparent-i"  >
    <form class="transparent-i " name="loginForm" ng-submit="logIn(guest)" novalidate>
     <label class="item item-input">
       <span class="input-label"><i class="icon ion-person"></i>&nbsp; &nbsp;  Username</span>
       <input type="text" ng-model="guest.username"required>
     </label>
     <label class="item item-input">
       <span class="input-label"><i class="icon ion-locked"></i>&nbsp; &nbsp; Password</span>
       <input type="password" ng-model="guest.password" required>
     </label>
        <button ng-disabled="loginForm.$invalid" class="button button-block button-light">
         Login
       </button>
     </form>
   </div>
  </div>
</div>
 

   <!-- footer -->
 <!--   <div class="bar bar-footer bar-stable">
    <div class="title">Footer</div>
  </div> 
 -->
</div>


1 d
dfba 6vbn 


