
<div style="background-color: #FFA311; color:#F9FFFF;">
   <div class="list">
   	<form name="loginForm" ng-submit="logIn(guest)" novalidate>
     <label class="item item-input">
       <span class="input-label">Username</span>
       <input type="text" ng-model="guest.username" required>
     </label>
     <label class="item item-input">
       <span class="input-label">Password</span>
       <input type="password" ng-model="guest.password" required>
     </label>
        <button ng-disabled="loginForm.$invalid" class="button button-block button-light">
         Login
       </button>
     </form>
   </div>
</div>