<div ng-controller="MainCtrl" class="responsive-sm responsive-md ">
">
  <div ng-controller="EmptiesViewCtrl" >

    <ion-header-bar align-title="left" class="bar-positive">
     <a href="#/empties/" class="button icon-left ion-chevron-left button-small button-clear button-white"> </a>
      <h1 class="title" style="margin-left:-15px;"> <img src="img/ico/android-icon-48x48.png" class="imgLogo">RETURNS</h1>
        <button ng-click="showSettings()"class="button"> <i class="icon ion-person"></i>&nbsp; {{userFirstName}} {{userLastName}}</button>
    </ion-header-bar>

    <ion-content>
    
      <div class="card" >
           <div class="item item-divider">
            <h2>   </h2>
            </div>

        <form name="ReturnViewForm" ng-submit="submit(returns)" novalidate>
          <div ng-repeat="delivery in deliveries">
          <label class="col col-10">SKU Name: {{delivery.products[0].sku_id.prod_id.brand_name}} {{delivery.products[0].sku_id.sku_name}} {{delivery.products[0].sku_id.size}}
          </label>

          <label class="col col-10">Bottles:</label>

            <div class="col col-40">
             <input class="form-control" type="number" ng-model="returns[$index].bottles" required>
            </div>
          <label class="col col-10">Cases:</label>

            <div class="col col-40">
             <input class="form-control" type="number" ng-model="returns[$index].cases" required>
            </div>
          </div>

          <label class="col col-10">Deposit:</label>

            <div class="col col-40">
             <input class="form-control" type="number" ng-model="empties.deposit" required>
            </div>


             <div>
              <button type="submit" ng-disabled="ReturnViewForm.$invalid" class="button button-small balanced pull-right liButton" style="">

              SUBMIT
              </button>
           </div> 

        </form>
    
         
      </div>

    </ion-content>
  </div>
<div>
