<ion-view view-title="Tally View">
  <ion-content>

        <div class="card" ng-repeat="product in currentLoadOut">

          <div class="list list-inset">

            <label class="item item-input"> {{product.sku.prod_id.brand_name}} {{product.sku.sku_name}} {{product.sku.size}} </label>
            <br>
            <label class="item item-input">Cases:</label>

            <div class="input-label">
             <input class="form-control" type="number" value="{{product.cases}}"  disabled>
            </div>

            <br><br>
         
          </div>

        </div>


  </ion-content>
</ion-view>
