<ion-view view-title="Tally View">
  <ion-content>
     <div class="card">
           <div class="item item-divider">
            <h2>   </h2>
            </div>

        <ul class="list">

          <li class="item" ng-repeat="product in currentLoadOut">

            <h2> {{product.sku_id.brand_name}} {{product.sku_id.sku_name}} {{product.sku_id.size}}</h2>
             <label class="col col-10">Cases:</label>

            <div class="col col-40">
             <input class="form-control" type="number" value="{{product.cases}}"  disabled>
            </div>
   
         
            </li>

 
          
        </ul>
      </div>
  </ion-content>
</ion-view>
