<ion-view view-title="Tally">
 <ion-nav-bar class="bar bar-header bar-dark uppercase lightfont">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>

    <!-- error msg -->
    
    <div ng-show="hasError" class="errmsg">
      <button type="button" class="button button-small x icon ion-close-round" ng-click="showErrorMessage(false)">×</button>
        <strong>{{errorMessage}}</strong>
    </div>

    <input type="date" ng-change="changeDate(tallyDate)" ng-model="tallyDate">
    
     <div class="card tally" ng-repeat="loadOut in loadOuts"><!--  -->

          <div align="center">  

            <label class="uppercase">
              <h2 class="title">LOAD OUT NO. {{loadOut.loadout_number}}</h2>
            </label>
          </div>

           <div align="center">
              <a class="button button-large button-flat icon-left ion-search" href="#/app/tally/{{loadOut.id}}">
              VIEW
              </a>

               <button ng-hide="loadOut.status !== 'Pending'" class="button button-large button-flat icon-left ion-checkmark" ng-click="confirmLoadout(loadOut)">
               CONFIRM
               </button>
           </div>

      </div>

      <div class="snackbar-container" data-snackbar="true"></div>

  </ion-content>
</ion-view>

