<ion-view view-title="Tally">
  <ion-content>
     <div class="list" ng-repeat = "truck in trucks">

     <div class="item item-divider">
       {{truckName(truck.id)}}
     </div>

     <div class="item" ng-repeat="loadOut in loadOuts | truckFilter: truck.id">

       <div class="row">
         <label class="col col-60">
             Load Out #{{loadOut.loadout_number}}
          </label>
     </div>
            <!-- <div class="col col-40">
              <a class="button calm pull-right button-outline button-calm" href="#/app/tally/{{loadOut.id}}">
              VIEW
              </a>
               </div> -->
           <div class="col col-40">
              <a class="button calm pull-right button-outline button-calm" href="#/app/tally/{{loadOut.id}}" ng-show="loadOut.status !== 'Pending'">
              VIEW
              </a>

               <button  ng-hide="loadOut.status !== 'Pending'" class="button calm pull-right  button-outline button-calm" ng-click="confirmLoadout(loadOut)" ng-hide="loadOut.status ===confirmed">
                    CONFIRM
               </button>
               </div>

        </div>
      </div>

  </ion-content>
</ion-view>

