/* Empty. Add your own CSS if you like */

/*-- body background --*/

body {
  background-image: url("../../img/fmbg.png") !important;
  background-color: #a5dde4;
  background-position: center center;
  background-repeat: no-repeat;

  color: #6fa4ab !important;
}

.login {
  background-color: transparent;
}

.card {
  margin: 20px;
  padding: 10px;
  background-color: #808080;
  color: #000;
  /*box-shadow: 0px 0px 10px #666666;
    border-radius: 30px;*/
}

.responsiveimg {
  width: auto !important;
  height: auto !important;
}

.tally {
  background-color: #99CC00 !important;
  border-radius: 80px !important;
}

.loadin {
  background-color: #FF9900 !important;
  border-radius: 80px !important;
}

.empties {
  background-color: #33CCFF !important;
  border-radius: 80px !important;
}



.darkbg {
  background-color: #6fa4ab !important;
}

.lightbg {
  background-color: #518413 !important;
}

.bar-royal {
  background-color: transparent !important;
  border-bottom: 0px !important;
}

.transparent {
  background-color: transparent !important;
}

.item {
  background-color: transparent;
  margin-top: 8px;
  font-weight: bold;
  /* background-color: #5d8c92; */
  border: 0px;
  /*border-radius: 30px;*/
}

.itemz {
  background-color: #fff !important;
}

.item-input {
  color: #fff;
  /*  border-radius: 30px !important;*/
}

.itemedit {
  margin-top: 8px;
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  padding: 10px;
}

.item-icon-left {
  background-color: #fff !important;
  padding-left: 65px;
  margin: 10px;
  border: none;
  border-radius: 50px !important;
}

.item-icon-left:hover {
  background-color: #5d8c92 !important;
  color: #000;
  cursor: pointer;
  border: none;
  border-radius: 50px;
}

.icon {
  padding-left: 15px;
}

.list {
  background-color: transparent;
  color: #000000;
}

 .bar-positive {
  background-color: #000 !important;
  text-transform: uppercase;
}

h2.title {
  font-size: 180% !important;
  background-color: transparent;
  color: #fff;
}

h1.title {
  color: #fff;
}

h4.title {
  margin: 0px;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-bottom: 2px #202020 solid;
  font-weight: bold;
}

h5.title {
  margin: 0px;
  padding-left: 24px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 8px;
}

h6.title {
  font: 12px Arial,Helvetica,Sans-serif;
  font-size: 100%;
  margin: 0px;
  padding-left: 25px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 8px;
  text-transform: uppercase; 
}

.lightfont {
  color: #fff !important;
}

.darkfont {
  color: #202020 !important;
}


.button-positive {
    border-radius: 50px;
  border: 0px solid #202020; 
  background-color: #6fa4ab !important;
}

.button-positive:hover {
  border-radius: 50px;
  border: 0px solid #000000; 
  background-color: #5d8c92 !important;
}

.button-edit {
  border-radius: 30px;
  border: 0px solid #202020; 
  background-color: #fff !important;
  padding-right: 15px;
}

.button-edit:hover {
  color: #fff;
  border-radius: 30px;
  border: 0px solid #202020; 
  background-color: #000 !important;
}


.button-flat {
  border-radius: 10px;
  border: 0px solid #202020; 
  background-color: #fff !important;
  padding-left: 15px;
  padding-right: 15px;
}

.button-flat:hover {
  color: #fff;
  border: 0px solid #202020; 
  background-color: #000 !important;
}

.button-login {
  border-radius: 15px;
  border: 0px solid #202020; 
  background-color: #fff !important;
  padding-left: 60px;
  padding-right: 60px;
}

.button-login:hover {
  font-weight: none !important;
  color: #fff;
  border: 0px solid #202020; 
  background-color: #5d8c92 !important;
}


.button-sc {
  border-radius: 20px;
  border: 0px solid #202020; 
  background-color: #6fa4ab !important;
  padding-right: 15px;
}

.button-sc:hover {
  color: #fff;
  border-radius: 20px;
  border: 0px solid #202020; 
  background-color: #5d8c92 !important;
}

input {
  color: #202020;
  background-color: #fff !important;
  padding-left: 10px !important;
  padding-right: 2px !important;
  margin-right: 50px !important;
}

input:focus {
  font-weight: bold;
  color: #000;
  background-color: #fff !important;

}

input:hover {
  font-weight: bold;
  color: #000;
  background-color: #fff !important;
}

.input-label {
  padding-top: 15px !important;
}

.wf {
  color: #fff !important;
}

.pane      {
  background-image: url("../../img/fmbg.png") !important;
  background-color: #a5dde4;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.responsiveimg {
  max-width: 100% !important;
  height: auto !important;
}

.labelz {
  margin: 10px;
  padding: 10px;
}

.space {
  padding: 15px;
}

.table, table, th, head, tr, td {
  color: #fff;
  padding: 15px;
  border: 3px solid #808080;
  text-align: left;
      background-color: #202020;
}

.uppercase {
  text-transform: uppercase !important;
}

th {
    background-color: #202020;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

